
#wrapper{
      width: 100%;
    margin: auto;
}

.grid
{
 
  
  width:100%;
  perspective:900px;
  background:lightblue;
  


}

.b-none{
border:none !important;
}
.b-top
{
  border-top:none !important;
}

.b-left{
  border-left:none !important;
}
.b-right{
  border-right:none !important;
}

.b-bottom{
border-bottom:none !important;

}

.square-grid{
  margin:auto;
  width: 89%;
}


.style
{
  background-color:pink;
}

.test
{
  color:blue;
   pointer-events:none;
  

}
.square
{
  font-size:42px;
  text-align:center;
  height: 107px;
  width: 20vw;
  transition:all 5s;
  margin: -3px;
  transition:transform 2s;
  background-color:lightblue;
  border:2px solid black;
}

.square:hover{
  border:1px solid gray;
  background-color:gray;
  color:#fff
  
  
}


.style{
  background:pink;
}



@media screen and (min-width: 760px){
  
  .square{
    
   width: 25vw;
   height: 200px !important;
  }
  
  
  
  
}

@media screen and (min-width: 320px){
  
  .square{
    
   width: 23vw;
   height: 100px;
  }
  
  
  
  
}




